
.about-proj{
    padding: 30px;
    text-align: justify;
}
#bg{
   
    height: 100vh; 
}
@media only screen and (max-width: 768px) {
    #bg{
        height: auto;
    }
    #intro{
        padding: 15px;
        color: #fff;
    }
}